<ion-header>

  <ion-navbar>
    <ion-title>Lost</ion-title>

    <ion-buttons end>
      <button [navPush]="uploadPage" class="button">
          <ion-icon large name="add"></ion-icon>
      </button>

      <button [navPush]="profilePage" class="button">
        <img [src]="(userid | userInfo: 'avatar': 'medium' | async)" style="width: 32px; z-index: 3" alt="Go To Profile Page">
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let image of picArray | async"
              [ngStyle]="{'position': 'relative'}"
              [ngClass]="image.resolvedStatus ? 'resolved-post' : 'unresolved-post'"
              >
      <ion-thumbnail item-start>
        <div [ngClass]="image.resolvedStatus ? 'resolved-mark' : 'unresolved-mark'"></div>
        <img [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + image.filename.split('.')[0] + '-tn160.png'"
             [alt]="image.description" (click)="goToDetailed(image)">
      </ion-thumbnail>
      <h2 (click)="goToDetailed(image)">{{ image.title }}</h2>
      <p class="user" (click)="goToUserProfile(image.user_id)">{{image.user_id | userInfo: 'name' | async}}</p>
      <p>{{ image.description }}</p>
      <p class="time">{{ image.time_added | date}}</p>
      <p class="resolve" *ngIf="image.resolvedStatus">resolved</p>
      <!--<button ion-button clear item-end (click)="onCatClick(image)">View</button>-->
    </ion-item>
  </ion-list>
</ion-content>
