$card-text-align: left;
$bright: #E45C29;
page-profile {
  ion-navbar{
    background-color: #E45C29;
  }
  ion-avatar img {
    border-radius: 50%;
    margin: auto;
  }
  .profile-details{
    display: flex;
    flex-direction: row;
    button{
      background-color: color($colors, bright);
    }
    div{
      text-align: $card-text-align;
    }
  }
  .profile-details img {
    width: 70%;
  }
  .card-title{
    font-size: 1.5em;
    font-weight: bold;
    text-align: $card-text-align;
  }
  /* .card-right{
    border-left: 1px black solid;
  } */
  /* color="bright" */

}
