<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button solid  *ngIf="lost" (click)="goToOtherPage()">Go To Found Page</button>
    <button ion-button solid  *ngIf="!lost" (click)="goToOtherPage()">Go To Lost Page</button>
    <button (click)="goToUpload()">Go To Upload Page</button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let image of picArray | async">
      <ion-thumbnail item-start>
        <img [src]="(image.filename| thumbnail: 'small')" [alt]="image.description" (click)="goToDetailed(image)">
      </ion-thumbnail>
      <h1>{{ image.title }}</h1>
      <h5 style="font-size: x-small">{{image.user_id | userInfo: 'name' | async}}</h5>
      <p>{{ image.description }}</p>
      <p>{{ image.time_added | date}}</p>
      <!--<button ion-button clear item-end (click)="onCatClick(image)">View</button>-->
    </ion-item>
  </ion-list>
  <div *ngIf="lost">Lost</div>
  <div *ngIf="!lost">Found</div>
</ion-content>
