page-dropdownpage {
  .no-scroll .scroll-content{
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  h3 {
    color: #00A2B3;
    margin: 0;
    width: 100%;
    text-align: left;
    padding: 5px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: large;
  }

  .button {
    display: block;
    background: #00A2B2;
    border-radius: 2px;
    padding: 7px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: bold;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    margin-top: 4px;
    color: #f4f4f4;
  }
}
