<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content padding *ngIf="post" style="position: relative;"
             [ngStyle]="{'position': 'relative'}"
             [ngClass]="{'blur': popOverStatus, 'solved': post.resolvedStatus}">

    <button *ngIf="post.user_id === userId" (click)="presentPopover($event)" class="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="avatar-container">
      <img [src]="(post.user_id | userInfo: 'avatar': 'medium' | async)" (click)="goToProfile(post.user_id)" class="avatar">
      <div>
        <h5 (click)="goToProfile(post.user_id)">{{ post.user_id | userInfo: 'name' | async }}</h5>
        <p class="time">{{ post.time_added | date}}</p>
      </div>
    </div>
    <div>
      <p class="description" style="font-weight: bold">{{post.title}}</p>
      <p class="description">{{ post.description }}</p>
    </div>
    <div class="img-container">
      <p class="resolve" *ngIf="post.resolvedStatus">resolved</p>
      <img [src]="(post.filename | thumbnail: 'large')" [alt]="post.title">
    </div>
    <ion-item *ngIf="!post.resolvedStatus">
      <ion-textarea [(ngModel)]="comment" placeholder="your comment here"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!post.resolvedStatus && comment!==''">
      <button ion-button *ngIf="comment!==''" (click)="sendComment()">send</button>
    </ion-item>

    <ul style="list-style: none" *ngIf="comments.length !== 0" [ngClass]="{'solved': post.resolvedStatus}">
      <li *ngFor="let cm of comments" style="position: relative;" class="item">
        <div class="user-container">
          <img [src]="(cm.user_id | userInfo: 'avatar': 'small' | async)" style="width: 32px;" (click)="goToProfile(cm.user_id)">
          <button (click)="goToProfile(cm.user_id)">{{ cm.user_id | userInfo: 'name' | async }}</button>
          <p class="time" style="font-size: 10px">{{cm.time_added | date}}</p>
        </div>
        <div>
          <p>{{ cm.comment }}</p>
        </div>
        <button class = "menu" *ngIf="(userId===cm.user_id) && (post.resolvedStatus===false)" (click)="deleteComments(cm.comment_id)">
          <ion-icon name="menu"></ion-icon>
        </button>
    </ul>
</ion-content>
