page-post {
  .scroll-content{
    padding: 2px;
  }
  .menu {
    position: absolute;
    right: 12px;
    top: 12px;
    padding: 3px;
    width: 32px;
    height: 32px;
    text-align: center;
    background: aliceblue;
    color: dimgray;
  }
  .menu:hover {
    color: #00A2B3;
    background: gray;
  }
  .avatar {
    width: 32px;
    height: 32px;
    float: left;
  }
  .avatar-container {
    width: 100%;
    height: 50px;
    margin: auto;
  }
  .avatar-container img {
    display: block;
    float: left;
    margin: 5px;
    cursor: pointer;
  }
  .avatar-container h5 {
    display: block;
    float: left;
    margin: 5px;
    font-weight: lighter;
    font-size: 15px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    cursor: pointer;
  }
  .time {
    display: block;
    color: gray;
    font-weight: lighter;
    font-size: 12px;
    font-style: italic;
    margin: 3px;
  }
  .description {
    font-weight: lighter;
    font-size: 15px;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
  }
  h3{
    margin: 2px;
    color: #FF7F21;
    font-weight: bolder;
  }
  img{
    width: 90%;
  }

  .popover-menu {
    border-radius: 3px;
    width: 135px;
    border: solid red 10px;
  }
  .image-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
  }
  .info-container {
    display: block;
    width: 45%;
    margin: 2.5%;
    position: relative;
  }
  .img-container {
    display: block;
    margin: 0;
    width: 50%;
    img {
      width: calc(100% - 5px);
      margin: 5px;
    }
  }
}
